body {
    font-family: 'Aclonica', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://i.imgur.com/cXO23NV.jpg");
    background-position: center;
    color: red;
}

button {
    font-family: 'Aclonica', sans-serif;
    margin-top: 5px;
    background-color: slategray;
    color: snow;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 23px;
}

#win, #lose {
    color: transparent;
}

#board {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 1px solid black;
}

#arrow-down, #arrow-left, #arrow-right, #arrow-up {
    position: absolute;
    width: calc(100% / 1.414);
    height: calc(100% /1.414);
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    border: 1px solid black;
}

#arrow-down {
    transform: rotate(-135deg);
    background-color: darkred;
}

#arrow-left {
    transform: rotate(135deg);
    background-color: blue;
}

#arrow-right {
    transform: rotate(-45deg);
    background-color: green;
}

#arrow-up {
    transform: rotate(45deg);
    background-color: gold;
}